@import url('https://fonts.googleapis.com/css?family=Playfair Display&display=swap');
body {
    font-family: Playfair Display, serif;
    background: linear-gradient(90deg, #000000 1%, #12c8ce 94%);
}
p {
    color: rgb(66, 168, 226);
}
.nav-link {
    color: rgb(151, 123, 187);
}
.navbar-nav .nav-link.active {
    color: rgb(108, 94, 128);
}
.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: rgb(129, 118, 153);
}
.nav-right {
    color: rgb(118, 102, 141);
    background: linear-gradient(90deg, #000000 1%, #12c8ce 94%);
    
}
 
    .card {
    background: linear-gradient(90deg, #000000 1%, #12c8ce 94%);
}
.card a {
    text-decoration: none;
    color: rgb(130, 109, 250);
 
}
.slide-text {
    color: rgb(130, 109, 250);
    margin: auto auto;
}
.footer-text {
    color: rgb(130, 109, 250);
    margin: auto auto;
}
footer,
.btn-outline-primary {
    background: linear-gradient(90deg, #000000 1%, #12c8ce 94%);
    
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-an {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width: 750px) {
    .carousel-indicators {
        display: none;
    }
}